#ignore IntelliJ files
*.idea

# Ignore composer vendor directory
vendor/

#ignore stupid mac files
*.DS_STORE


#ignore theming files
*.sass-cache
*.css.map
# svn
*.svn*

# Behat dependencies.
tests/behat/bin/
tests/behat/vendor/
tests/behat/my.behat.local.yml
