<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="drupal">
  <description>PHP CodeSniffer configuration for Drupal coding standards.</description>
  <config name="drupal_core_version" value="7" />
  <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt,md,yml" />
  <file>./modules/custom</file>
  <file>./modules/features</file>
  <file>./modules/hosting</file>
  <file>./themes/cu*</file>
  <exclude-pattern>*/tests/*</exclude-pattern>
  <exclude-pattern>composer.*</exclude-pattern>
  <exclude-pattern>*.patch</exclude-pattern>
  <exclude-pattern>php.xml.dist</exclude-pattern>
  <rule ref="../vendor/drupal/coder/coder_sniffer/Drupal"/>
  <rule ref="../vendor/drupal/coder/coder_sniffer/DrupalPractice"/>
</ruleset>
